force-app/main/default/flows/Schedule_Assistant_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Schedule</name>
        <label>Get Schedule</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Scheduling_Assistant</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>ScheduleOutput</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Constraints</name>
            <value>
                <elementReference>constraintData</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:Contact</name>
            <value>
                <elementReference>Get_Contact</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Scheduling_Assistant</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Create_Constraints</name>
        <label>Create Constraints</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>constraints</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>constraintData</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Schedule</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>High_priority_first</name>
        <choiceText>High priority first</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>High priority first</stringValue>
        </value>
    </choices>
    <choices>
        <name>Maximize_count</name>
        <choiceText>Maximize count</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Maximize count</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <environments>Default</environments>
    <formulas>
        <name>endDateTime</name>
        <dataType>String</dataType>
        <expression>TEXT({!vRangeEnd})</expression>
    </formulas>
    <formulas>
        <name>startDateTime</name>
        <dataType>String</dataType>
        <expression>TEXT({!vRangeStart})</expression>
    </formulas>
    <interviewLabel>Schedule Assistant Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Schedule Assistant Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Constraints</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Plan_Inputs</name>
        <label>Plan Inputs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <fields>
            <name>Range_Start</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>vRangeStart</elementReference>
            </defaultValue>
            <fieldText>Range Start</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>6</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Range_End</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>vRangeEnd</elementReference>
            </defaultValue>
            <fieldText>Range End</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>6</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Buffer_Minutes</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>vBufferMinutes</elementReference>
            </defaultValue>
            <fieldText>Buffer Minutes</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>6</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Strategy</name>
            <choiceReferences>High_priority_first</choiceReferences>
            <choiceReferences>Maximize_count</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>vStrategy</elementReference>
            </defaultValue>
            <fieldText>Strategy</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>6</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Generate Plan</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ScheduleOutput</name>
        <label>ScheduleOutput</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>scheduleScreen</name>
            <fieldText>&lt;p&gt;{!Get_Schedule.promptResponse}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Plan_Inputs</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>constraintData</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Start: {!Range_Start} 
End: {!Range_End} 
Buffer: {!Buffer_Minutes} 
Strategy: {!Strategy}</text>
    </textTemplates>
    <variables>
        <name>constraints</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Holds record id for contact</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Schedule_Result</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vBufferMinutes</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>10.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vRangeEnd</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vRangeStart</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vStrategy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>High priority first</stringValue>
        </value>
    </variables>
</Flow>
